<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
  <link th:href="@{/styles/styleForBooks.css}" rel="stylesheet" type="text/css" />
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<header th:insert = "fragments/components :: headerForUsers"></header>
<body>

<div>
  <form th:method="get" th:action="@{/books/chooseBook}">
    <div th:insert = "fragments/components :: configSelector"></div>
  </form>
</div>


<section class="gallery">
  <div class="container-fluid">
    <div class="row gy-4 justify-content-center">
      <div th:if="${allBooks.isEmpty()}">
        <h3 class="label" th:text="'Sorry, but results by this search configuration weren`t founded'"></h3>
      </div>
      <div  th:each="book : ${allBooks}" th:if="${not book.isIstaken()}" class="col-xl-3 col-lg-4 col-md-6">
        <a th:href="@{/books/chooseBook/{id}(id=${book.getId()})}" class="eachBook gallery-item h-100" th:text="${book.getName()}"></a>
      </div>

    </div>
  </div>
</section>


<hr>
<div style="display: flex ; flex-wrap: wrap;flex-direction: column;align-items: center;">
  <div style="margin: auto"  th:insert = "fragments/components :: selectorOfBooksPagesForUsers"/>
</div>


</body>
</html>