<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>

    <link th:href="@{/styles/styleForHeader.css}" rel="stylesheet" type="text/css" />
    <link href="/styles/styleForBooks.css" rel="stylesheet" type="text/css" />
    <meta charset="UTF-8">
    <title>Users</title>


</head>
<header th:insert = "fragments/components :: header"></header>

<body>
<div>
    <form th:method="get" th:action="@{/users}">
        <div th:insert = "fragments/components :: configSelector"></div>
    </form>
</div>


<div th:each="user : ${users}">
  <a class="eachUser" th:href="@{/users/{id}(id=${user.getId()})}" th:text="${user.getName()}"></a>
</div>
<hr>


<div style="display: flex ; flex-wrap: wrap;flex-direction: column;align-items: center;">
    <div style="margin: auto"  th:insert = "fragments/components :: selectorOfUsersPages"/>
    <div>
        <a style="margin: auto" class="btn" th:href="@{/users/new}" >Adding</a>
    </div>
</div>


</body>
</html>